# Benjamin
Benjamin Killingberg <benjakil@stud.ntnu.no> benjamtech <benjamtechg@gmail.com>
Benjamin Killingberg <benjakil@stud.ntnu.no> Benjamin Killingberg <benjakil@stud.ntnu.no>
Benjamin Killingberg <benjakil@stud.ntnu.no> Benjamin Killingberg <benjamin.killingberg@gmail.com>
# Elias
Elias Hetland <eliashet@stud.ntnu.no> eliashet <eliashet@stud.ntnu.no>
Elias Hetland <eliashet@stud.ntnu.no> Elias Hetland <elias.hetland@ntnu.no>
Elias Hetland <eliashet@stud.ntnu.no> Elias Hetland <eliashet@stud.ntnu.no>
# Katrine
Katrine Mikalsen <katrimik@stud.ntnu.no> Katrine Mikalsen <katrimik@stud.ntnu.no>
Katrine Mikalsen <katrimik@stud.ntnu.no> katrimik <katrimik@stud.ntnu.no>
# Sarah
Sarah Beibei Torheim Norton <sbnorton@stud.ntnu.no> sbnorton <sbnorton@stud.ntnu.no>
Sarah Beibei Torheim Norton <sbnorton@stud.ntnu.no> sbnorton <sarahbtn@outlook.com>
Sarah Beibei Torheim Norton <sbnorton@stud.ntnu.no> Sarah Beibei Torheim Norton <sbnorton@stud.ntnu.no>
# Adrian
George Adrian Stoica <stoica@ntnu.no> Adrian Stoica <stoica@ntnu.no>